@page "/Login"

@layout LoginLayout
<div class="wrap">
    <div class="container">
        <form method="post" class="form-signin" @onsubmit="DoLogin" @onsubmit:preventDefault="true">
            <h2 class="form-signin-heading">@Title</h2>
            <div class="login-wrap">

                <BootstrapInputGroup>
                    <BootstrapInputGroupIcon Icon="fa fa-fw fa-user"/>
                    <BootstrapInput TValue="string" name="Account" maxlength="16" IsAutoFocus="true"
                                    PlaceHolder="用户名" @bind-Value="LoginDTO.Account"/>
                </BootstrapInputGroup>

                <BootstrapInputGroup class="mt-3">
                    <BootstrapInputGroupIcon Icon="fa fa-fw fa-lock"/>
                    <BootstrapPassword name="password" PlaceHolder="密码" @bind-Value="LoginDTO.Password"/>
                </BootstrapInputGroup>

                <div class="d-flex justify-content-between mt-3">
                </div>
                <Button class="btn-login mt-3" ButtonType="ButtonType.Submit" Size="Size.Large" IsBlock="true"
                        Color="Color.None" OnClick="DoLogin" IsDisabled="@IsLoading" 
                        Text="@(IsLoading ? "登录中..." : "登 录")">
                </Button>
                <div class="d-flex justify-content-between mt-3">
                    <LinkButton Text="申请账号" OnClick="OnSignUp"/>
                    <LinkButton Text="忘记密码" OnClick="OnForgotPassword"/>
                </div>
            </div>
        </form>
    </div>
</div>
